*.dot
*.egg-info
*.log
*.pyc
*.zip
.DS_Store
.installed.cfg
.mr.developer.cfg
.project
.pydevproject*
.settings
.tmp_base.html*
CACHE
_build
bin
data
deploy_settings.py
dev.db
develop-eggs
downloads
eggs
local_settings.py
parts
production_settings.py
uploads
var
